[core]
	excludesfile = /Users/danseethaler/.gitignore_global
	editor = code -w
[alias]
	st = !git status && printf '\n' && git recent && printf '\n' && git stash list
	co = checkout
	cob = !gci
	commitit = commit --amend --no-edit
	forcepull = !git reset --hard HEAD~5 && git pull
	# View all changes to the specified file since the current branch
	# and the rebasing branch have diverged
	review-merge-file = !sh -c '/Users/danseethaler/Developer/shell_scripts/git_actions.js reviewMergeFile $0 "$@" | sh'
	# Output the first shared commit
	first-shared-commit = !sh -c '/Users/danseethaler/Developer/shell_scripts/git_actions.js firstShared $0'
	search-blame = !sh -c '/Users/danseethaler/Developer/shell_scripts/git_actions.js searchBlame $0'
	# Rebase from the specified branch or from the most recent shared commit
	rebase-from-branch = !sh -c 'git rebase -i $(git first-shared-commit $0)'
	last = diff --name-status HEAD^ HEAD
	blow = !git reset --hard && git clean -fd
	lg = log -10 --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgm = log -25 --author="Seethaler" --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgs = !git lg --shortstat --ignore-space-change
	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgb = log --graph --oneline --decorate --all
	allamendpush = !git add . && git commit --amend --no-edit && git push -f
	stagedamendpush = !git commit --amend --no-edit && git push -f
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
    prompt = false
[user]
	name = Dan Seethaler
	email = dan@seethalers.com
[commit]
	template = /Users/danseethaler/.stCommitMsg
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = upstream
